
#slide-contents{
    width:800px;
    height:350px;
}

#slide-contents>img{
    width:100%;
    height:100%;
}
#slide-contents>img:nth-child(2){
    display:none;
}
#slide-contents>img:nth-child(3){
    display:none;
}